function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
not
if-goto lbl1
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto lbl2
label lbl1
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label lbl2
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
not
if-goto lbl3
push this 4
push this 5
add
pop this 4
goto lbl4
label lbl3
push this 4
push this 6
add
pop this 4
push this 9
not
if-goto lbl5
push this 7
not
if-goto lbl7
push this 0
push constant 4
add
pop this 0
goto lbl8
label lbl7
push this 1
push constant 4
add
pop this 1
label lbl8
goto lbl6
label lbl5
push this 7
not
if-goto lbl9
push this 0
push constant 4
sub
pop this 0
goto lbl10
label lbl9
push this 1
push constant 4
sub
pop this 1
label lbl10
label lbl6
label lbl4
push this 8
not
if-goto lbl11
push this 7
not
if-goto lbl13
push this 1
push constant 4
add
pop this 1
goto lbl14
label lbl13
push this 0
push constant 4
add
pop this 0
label lbl14
goto lbl12
label lbl11
push this 7
not
if-goto lbl15
push this 1
push constant 4
sub
pop this 1
goto lbl16
label lbl15
push this 0
push constant 4
sub
pop this 0
label lbl16
label lbl12
push this 0
push this 10
gt
not
not
if-goto lbl17
push constant 1
pop this 14
push this 10
pop this 0
goto lbl18
label lbl17
label lbl18
push this 0
push this 11
lt
not
not
if-goto lbl19
push constant 2
pop this 14
push this 11
pop this 0
goto lbl20
label lbl19
label lbl20
push this 1
push this 12
gt
not
not
if-goto lbl21
push constant 3
pop this 14
push this 12
pop this 1
goto lbl22
label lbl21
label lbl22
push this 1
push this 13
lt
not
not
if-goto lbl23
push constant 4
pop this 14
push this 13
pop this 1
goto lbl24
label lbl23
label lbl24
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
not
if-goto lbl25
push constant 10
pop local 4
goto lbl26
label lbl25
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
not
if-goto lbl27
push constant 20
pop local 4
goto lbl28
label lbl27
push constant 5
pop local 4
label lbl28
label lbl26
push this 14
push constant 1
eq
not
if-goto lbl29
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto lbl30
label lbl29
push this 14
push constant 2
eq
not
if-goto lbl31
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto lbl32
label lbl31
push this 14
push constant 3
eq
not
if-goto lbl33
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto lbl34
label lbl33
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label lbl34
label lbl32
label lbl30
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
